
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title></title>
</head>
<body>
<h2>Register</h2>

  <form action="/register" method="POST">
    <section>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="email">
    </section>
    <section>
      <label for="password">Password</label>
      <input type="password" name="password" required placeholder="password">
    </section>
    <section>
    <button type="submit">Submit</button>
    </section>
  </form>

</body>
</html>